# 🧱 Node & Dependency Files
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# 🚀 Build & Cache Files
dist/
cache/
public/build
storage/pail

# ⚙️ Laravel Specific (All Versions)
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
storage/*.key

# 🧩 Laravel 4 Specific
bootstrap/compiled.php
app/storage/

# 🧩 Laravel 5 & Lumen Specific
public/storage
public/hot

# 🧩 Laravel 5+ (Custom public path)
public_html/storage
public_html/hot

# 🧠 Other Development Files
.phpactor.json
auth.json
