

/*--------------------------------------------------------------
Styles
--------------------------------------------------------------*/

/* Fonts */

:root {
    --body-font: 'Poppins', sans-serif;
}

/* Bootstrap Override */

body {
    --bs-font-sans-serif: 'Poppins', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 2;
    --bs-body-color: #41403E;
    --bs-primary: #0070E4;
    --bs-primary-rgb: 0, 112, 228;
    --bs-border-color: #eeeeee;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .table-header th{
    background-color: teal !important;
    color: white !important;
} */
tr{
    text-align: center;
}

@media print {
    .table-header th{
        background-color: teal !important;
    }
}

tbody{
    font-size: 14px;
}

.list-unstyled li{
    margin: 8px 0;
}
.my-5 {
    margin-top: 1rem !important;
    
}


